body {
    margin: 0;
    height: 100%; /* Set the height of the body to 100% of the viewport height */
    background: linear-gradient(43deg, #010102 0%, #4708f4 46%, rgb(35, 84, 246) 100%);
    background-size: cover; /* Ensure the background covers the entire body */
    }
