body {
    margin: 0;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover; /* Ensure the background covers the entire body */
    }
